*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Arial";
}

a:visited, a:link, li{
	color: #006ec3;
	text-decoration: none;
}

a:hover{
	text-decoration: underline; 
}

li{
	list-style:none;
}

.site-header{
	grid-area: hd;
	margin-top: 10px;
}

.site-footer{
	grid-area: ft;
}

.in{
	grid-area: in;
}

.out{
	grid-area: out;
}

.left-bar{
	grid-area: lb;
	font-size: 9pt;
}

.container{
	max-width: 1000px;
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px 640px;
	grid-template-areas:
		"hd	hd	hd		hd	hd	hd		hd	hd	hd		hd	hd	hd"
		"lb	lb	lb		in	in	in		in	out	out		out	out	out"
		"lb	lb	lb		in	in	in		in	out	out		out	out	out"
		"lb	lb	lb		in	in	in		in	out	out		out	out	out"
		"ft	ft	ft		ft	ft	ft		ft	ft	ft		ft	ft	ft";
}

ul#service-links{
	list-style: none;
	display: flex;
	justify-content: start;
}

ul#service-links li{
	margin-right: 15px;
	padding: 10px 0;
}

.padding-5{
	padding: 5px;
}

.border-5px-blue{
	border: 5px dashed blue;
	padding: 5px;
}


/* left-bar */
#files > li:hover{
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	color: blue;
}

/* signup.php */
form > p > input{
	margin-bottom: 10px;
	padding: 10px;
}