*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Arial";
}

a:visited, a:link, li{
	color: #006ec3;
	text-decoration: none;
}

a:hover{
	text-decoration: underline; 
}

li{
	list-style:none;
}

.header{
	grid-area: hd;	
}

.footer{
	grid-area: ft;
}

.main{
	grid-area: mn;
	display: flex;
	overflow-y: auto;
	max-height: 1000px;
}

.in, .out{
	flex-grow: 1;
}

.left-bar{
	grid-area: lb;
	font-size: 9pt;
	padding-right: 5px;
}

.container{
	max-width: 1000px;
	padding: 10px;
	display: grid;
	margin: 0 auto;
	grid-template-columns: minmax(150px, 1fr) repeat(11, 1fr);
	grid-template-rows: 100px 500px;
	grid-template-areas:
		"hd	hd	hd		hd	hd	hd		hd	hd	hd		hd	hd	hd"
		"lb	lb	mn		mn	mn	mn		mn	mn	mn		mn	mn	mn"
		"lb	lb	mn		mn	mn	mn		mn	mn	mn		mn	mn	mn"
		"lb	lb	mn		mn	mn	mn		mn	mn	mn		mn	mn	mn"
		"ft	ft	ft		ft	ft	ft		ft	ft	ft		ft	ft	ft";
}

.nav{
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}

ul#service-links, ul#user-links{
	list-style: none;
	display: flex;
	justify-content: start;
}

ul#service-links li{
	margin-right: 10px;
}

ul#user-links li{
	margin-left: 10px;
}

.padding-5{
	padding: 5px;
}

.border-5px-blue{
	border: 5px dashed blue;
	padding: 5px;
}

/* left-bar */
#files > li:hover{
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	color: blue;
}

/* signup.php */
form > p > input{
	margin-bottom: 10px;
	padding: 10px;
}

/* setting.php */
table, th, td{
	font: 10pt "Arial";
	border: 1px solid #a1b9cc;
	border-collapse: collapse;
	padding: 5px;
}

table{
	width: 700px;
}

table td:first-child{
	width: 5%;
}

tr:nth-child(2n){
	background: #a1b9cc;
}

.tables li{
	font: 15pt "Arial";
	color: gray;
}

.tables li:hover{
	cursor: pointer;
}
