* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sans Serif";
    border-color: #eee;
}

label {
    display: inline;
}

a:visited,
a:link,
li {
    color: #006ec3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

header {
    grid-area: hd;
}

#startTime,
#endTime {
    width: 33%;
}

#startTime::-webkit-datetime-edit-ampm-field,
#endTime::-webkit-datetime-edit-ampm-field {
    width: 33%;
    display: none;
}

.in,
.out {
    width: 100%;
    height: 100%;
    border: thin solid #e7e7e7
}

.sidebar {
    grid-area: sidebar;
    font-size: 9pt;
}

.main {
    grid-area: main;
    display: grid;
    grid-column-gap: 10px;
}

.home .main {
    grid-template-columns: 1fr 1fr;
}

.settings .main {
    grid-template-columns: 1fr;
}

.container {
    max-width: 1200px;
    height: 100vh;
    padding: 10px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: minmax(200px, 0.3fr) 1fr;
    grid-gap: 10px;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "hd	hd"
        "sidebar main";
    align-items: stretch;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

ul#service-links,
ul#user-links {
    list-style: none;
    display: flex;
    justify-content: start;
}

ul#service-links li {
    margin-right: 10px;
}

ul#user-links li {
    margin-left: 10px;
}

.padding-5 {
    padding: 5px;
}

.border-5px-blue {
    border: 5px dashed blue;
    padding: 5px;
}

#changeTime {
    width: 50px;
    font-size: 30px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.list-item-highlighted,
#files > li:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}

/* signup.php */
form > p > input {
    margin-bottom: 10px;
    padding: 10px;
}

/* setting.php */
table,
th,
td {
    font: 10pt "Arial";
    border-collapse: collapse;
}

table {
    height: fit-content;
}

table td,
table th {
    width: fit-content;
}

table td input {
    padding: 10px 10px 10px 5px;
    width: 100%;
    border-width: thin;
    border-top: unset;
    border-left: unset;
    border-right: unset;
}

tr:hover input:not([disabled]),
tr input:focus {
    background: #fafafa;
    outline: none;
}

.tables li {
    font: 15pt "Arial";
    color: gray;
}

.tables .active a {
    text-decoration: underline;
}

.tables li:hover {
    /* cursor: pointer; */
}

#inputTr {
    position: relative;
    width: 100%;
    padding: 7px 0;
}

.files ul + p {
    text-align: center;
}

.docx_files {
    margin-top: 10px;
}

[id^="delete_"] {
    width: calc(70%);
    margin-top: 10px;
}